<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Small & Mighty</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <!-- <div class="header-title">
        <h1>Small and Mighty</h1>
      </div> -->
      <% include ./partials/header.ejs %>
    </header>
    <div class="articles-index">
      <% for(i = 0; i < articles.length; i++){ %>
        <div class="article-card">
          <h2><a href="/home/<%=articles[i].id%>"><%=articles[i].title; %></a></h2>
          <a href="/home/<%=articles[i].id%>"><img src='<%=articles[i].img; %>' alt="<%=articles[i].title; %>"></a>
        </div>
      <% } %>
    </div>
  </body>
</html>
