<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="header-title">
        <h1>Small and Mighty</h1>
      </div>
      <div class="header-nav">
        <ul>
          <!-- update these for visibility for logged in users / not logged in -->
          <li><a href="/sessions/login">Login</a></li>
          <li><a href="/users/new">New User</a></li>
          <% if(currentUser){ %>
          <li><a href="/home/new">Create Article</a></li>
          <li>
            <form class="logout-form" action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout">
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </header>
    <div class="articles-index">
      <% for(i = 0; i < articles.length; i++){ %>
        <div class="article-card">
          <h2><a href="/home/<%=articles[i].id%>"><%=articles[i].title; %></a></h2>
          <a href="/home/<%=articles[i].id%>"><img src='<%=articles[i].img; %>' alt="<%=articles[i].title; %>"></a>
        </div>
      <% } %>
    </div>
  </body>
</html>
