<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <div class="articles-index">
      <% for(i = 0; i < articles.length; i++){ %>
        <div class="article-card">
          <h2><a href="/home/<%=articles[i].id%>"><%=articles[i].title; %></a></h2>
          <a href="/home/<%=articles[i].id%>"><img src='<%=articles[i].img; %>' alt="<%=articles[i].title; %>"></a>
        </div>
      <% } %>
    </div>
  </body>
</html>
