<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <div class="show-container">
      <h1><%=article.title; %></h1>
      <div class="show-main">
        <img src="<%=article.img; %>" alt="<%=article.title; %>">
        <article class="show-article">
          <%=article.body; %>
        </article>
        <p>
          <!-- only the author or admin can edit an article -->
        <% if(author){ %>
          Author: <%=author.name; %>
        <% } %>
        </p>
        <% if(currentUser){ %>
          <% if(currentUser.admin || currentUser.name === article.author) { %>
          <a href="/home/<%=article.id%>/edit"><button>Edit Article</button></a>
          <form class="show-delete" action="/home/<%=article.id; %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Article" />
          </form>
          <% } %>
        <% } %>
      </div>
    </body>
    </div>
</html>
